@charset "utf-8"

	* {
		padding: 0;
		margin: 0;
	}
	
	.inline {
		display: inline;
	}
	
	.block {
		display: block;
	}
	p{
		font-size: 20px;
		color: yellow;
        font-family: 'comic sans ms';
    }
    h1{
		font-size: 100px;
		font-family: 'comic sans ms';
		color: yellow;
	}
	body {
    background-image: url("https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FV3BWEpb6avk%2Fmaxresdefault.jpg&f=1");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    }

