@charset "utf-8"

	* {
		padding: 0;
		margin: 0;
	}
	
	.inline {
		display: inline;
	}
	
	.block {
		display: block;
	}
	
	p {
		font-size: 20px;
		color: yellow;
        	font-family: 'comic sans ms';
		text-align: center;
    	}
    	
	h1 {
		font-size: 100px;
		font-family: 'comic sans ms';
		color: yellow;
		text-align: center;
	}
	
	body {
		background-image: url("http://i220.photobucket.com/albums/dd36/flawna/red_blood_wallpaper_1280x1024.jpg");
		background-size: cover;
		background-position: top left;
		background-attachment: fixed;
	}

